AI Contact Form → Smart Reply → Gmail.json
{
  "name": "AI Contact Form → Smart Reply → Gmail",
  "nodes": [
    {
      "parameters": {
        "formTitle": "AI Automation Consultation Request",
        "formDescription": "Thank you for your interest in AI automation solutions.\n\nPlease fill out the form below with your name, email address, and a brief description of your request. \n\nOur AI-powered system will review your message and send you a confirmation email shortly.\n\nOur team will carefully evaluate your inquiry and get back to you with the best possible automation solution for your business needs.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Message",
              "fieldType": "textarea",
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -352,
        -32
      ],
      "id": "ac0987f4-9f89-4e62-9397-5fdf024696ae",
      "name": "AI Client Inquiry Form",
      "webhookId": "dec6b105-2097-42bc-ba10-6c1ddbc86eb2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "150ac8a4-4813-4523-a7be-af8bd3b48e42",
              "name": "Name",
              "value": "={{$json[\"Name\"]}}",
              "type": "string"
            },
            {
              "id": "c6c30733-e29a-42c0-82b8-d00bddd121b3",
              "name": "Email",
              "value": "={{$json[\"Email\"]}}",
              "type": "string"
            },
            {
              "id": "e6d28659-845b-425a-9c20-6aae45fe72ce",
              "name": "Message",
              "value": "={{$json[\"Message\"]}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -144,
        -32
      ],
      "id": "ba6d4e3d-cba0-491e-ab44-88fab99e3fdc",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=A potential client submitted the following inquiry through our website form.\n\nClient Name: {{$json[\"Name\"]}}\n\nClient Email: {{$json[\"Email\"]}}\n\nClient Message:\n{{$json[\"Message\"]}}\n\nWrite a professional email reply thanking them for contacting our AI automation agency.\n\nAcknowledge their request and tell them our team will review their inquiry and contact them soon with the best automation solution.\n\nKeep the response friendly, professional, and under 80 words.",
        "options": {
          "systemMessage": "You are a professional AI assistant working for an AI Automation Agency.\n\nYour job is to respond to potential clients who submit inquiries through the website contact form.\n\nWrite polite, friendly, and professional responses. Thank the client for their interest in AI automation services and acknowledge their message.\n\nTell them that our team will review their request and contact them soon with the best automation solution for their business.\n\nKeep responses short (50–80 words), clear, and professional.\n\nDo not invent services or pricing. Only acknowledge the request and confirm that the team will follow up.\n\nEnd the message with a professional closing such as:\n\"Best regards,\nAutomation Team\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        64,
        -32
      ],
      "id": "b70110a6-67f9-49d6-86f0-72fcd60717d9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        48,
        112
      ],
      "id": "b50ec30b-e04b-463b-bbca-1e71b0d7111b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "R8MLEgZMkOvT8D5R",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1f3030fe-23b4-45dc-9909-79f33f72cc71",
              "name": "Email_Message",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        -32
      ],
      "id": "e7fd5390-677c-473e-9f44-afaa3f487673",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Edit Fields').item.json.Email }}",
        "subject": "\"Thank you for contacting us\"",
        "message": "={{ $json.Email_Message }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        592,
        -32
      ],
      "id": "ecb82f2b-6ea2-4870-9188-f27416d92347",
      "name": "Send a message",
      "webhookId": "05031435-cb2f-48b6-aa4f-4b39eeaecfe2",
      "credentials": {
        "gmailOAuth2": {
          "id": "IFrGgl3vubXpnnEm",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Client Inquiry Form": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ea2010aa-7bfe-476e-b216-19756d78afc0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7fb9c15a60f56efb2ed4242be9731d3ca6085debc8b55380dea54cf9f42b047d"
  },
  "id": "Z1ypo2ho6boa3bDI",
  "tags": []
}